body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f8f8;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: black;
  color: white;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}
.hero {
  background: url("images/house1.jpg") center/cover no-repeat ;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero h2 {
  font-size: 40px;
  margin: 0;
}

.hero p {
  font-size: 18px;
}
/* SEARCH */
.search {
  text-align: center;
  margin: 20px;
}

.search input {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.properties {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.property {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}
.property:hover {
  transfrom: scale(1.05);
}
.property img {
  width: 100px;
  height: 200px;
  object-fit: cover;
}
.property h3 {
  padding: 10px;
}


/* CONTACT */
.contact {
  background: white;
  padding: 40px;
  text-align: center;
}
.contact from {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact input,
.contact textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact button {
  padding: 12px
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
