* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: #0f172a;
  color: white;
}
/* HERO */
.hero {
  height: 60vh;
  background: url('images/house1.jpg') center/cover no-repeat;
  display: flex;
  align-item: center;
  justify-content: center;
  text-align: center;
}
.hero h2 {
  font-size: 40px;
}
.hero p {
  margin-top: 10px;
  color: #cbd5f5;
}
/* SEARCH */
.search {
  padding: 20px;
  text-align: center;
}
.search input {
  width: 80%;
  padding: 12px;
  border-radius: 8px;
  border: none;
}
/* MAIN LAYOUT */
.main-section {
  display: flex;
  gap: 20px
  padding: 20px;
}
/* PROPERTY GRID */
.properties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex: 2;
}
/* CARD */
.property-card {
  background: #1e293b;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}
.property-card:hover {
  transfrom: translateY(-5px);
}
.property-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.property-card h3 {
  padding: 10px;
}
.property-card p {
  padding: 0 10px 10px;
}
/* BUTTON */
.property-card button {
  margin: 10px;
  padding: 10px;
  border: none;
  background: gold;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}
.property-card button:hover {
  background: orange;
}
/* CONTACT FORM */
.contact {
  flex: 1;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}
.contact input,
.contact textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}
.contact button {
  width: 100;
  padding: 10px;
  background: gold;
  border: none;
  cursor: pointer;
}
/* MODAL */
.modal-content button {
  padding: 10px;
  width: 100%;
  background: gold;
  border: none;
  cursor: pointer;
}
.close {
  float: right;
  cursor: pointer;
}
/* MOBILE */
@media (max-width: 768px) {
  .main-section {
    flex-direction: column;
  }
  .properties {
    grid-template-columns: 1fr;
  }
}
 
